#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 35%;
    height: 30px;
    background-color: green;
}
footer{
	background-color: #fff;
	height:70px;
	padding:10px;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
}
